$primary-color: #204287;
$secondary-color: #4a9ed8;


$game-red: #c05857;
$game-cream: #d0c7af;
$game-blue-1: #485562;
$game-blue-2: #2c343f;
$game-blue-3: #14151b;



$blue: #4272d7;
$link-color: $blue;

$green: #63c76a;
$grey: #808080;
$grey-light: #a9b3c9;
$red: #fa4251;
$orange: #ffa037;
$white: #FFFFFF;

$blue-gradient: linear-gradient(90deg, #396afc 0%, #2948ff 100%);
$green-gradient: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
$red-gradient: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
$pink-gradient: linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);;


$text-black: #333333;
$text-grey: #666;
$text-white: #FFF;

$shadow-card: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
$shadow-card-2: 0px 2px 8px 1px rgba(0, 0, 0, 0.15);

$z-index-modal: 999999;